<div class="text-center">
  <h1> Manage Subscriptions</h1>
</div>
<div class="container">

    <div id="amazon prime">
    <div class="subscription-card zoom">
      <div class="subscription-card-info">
        <h2>Amazon Prime</h2>
        <h3 class="card-trip-pricing"> <a href="https://www.amazon prime.com/signup/planform"> Pricing</a><a href="https://www.amazon prime.com/CancelPlan">        Cancel</a></h3>
        <div>
          <img src="https://logo.clearbit.com/<%= "amazon prime".split(' ').first.downcase %>.com" class="card-trip-user">
        </div>
      </div>
    </div>
  </div>

  <div id="audible">
    <div class="subscription-card zoom">
      <div class="subscription-card-info">
        <h2>Audible</h2>
        <h3 class="card-trip-pricing"> <a href="https://www.audible.com/signup/planform"> Pricing</a><a href="https://www.audible.com/CancelPlan">        Cancel</a></h3>
        <div>
          <img src="https://logo.clearbit.com/<%= "Audible".split(' ').first.downcase %>.com" class="card-trip-user">
        </div>
      </div>
    </div>
  </div>
  <div id="netflix">
    <div class="subscription-card zoom">
      <div class="subscription-card-info">
        <h2>Netflix</h2>
        <h3 class="card-trip-pricing"> <a href="https://www.netflix.com/signup/planform"> Pricing</a><a href="https://www.netflix.com/CancelPlan">        Cancel</a></h3>
        <div>
          <img src="https://logo.clearbit.com/<%= "Netflix".split(' ').first.downcase %>.com" class="card-trip-user">
        </div>
      </div>
    </div>
  </div>




</div>

